<div class="container">
    <div class="row">
        <div class="col-xs-8 cart-panel">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-xs-6">
                                <h5><span class="glyphicon glyphicon-shopping-cart">Votre Panier</span></h5> 
                            </div>
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-primary btn-sm btn-block">
                                    <a href="{% url 'catalog:index'%}">
                                        <span class="glyphicon glyphicon-share-alt">Continue vos achats ...</span>
                                     </a>
                                </button>
                            </div>
                        </div>
                    </div><!-- End Of Panel-Title-->
                </div><!-- End Of Panel-Heading -->
                <div class="panel-body">
                    {%inlcude "tags/card_entry_flat.html"%}
                </div><!-- End Of Panel-Body-->
                <div class="panel-footer">
                    <div class="row text-center">
                        <div class="col-xs-9">
                            <h4 class="text-right">Total : <strong>{{cart_subtotal}} CFA</strong></h4>
                        </div>
                    </div>
                </div><!-- End Of Panel-Footer -->
            </div><!-- End Of Panel -->
        </div>
    </div>
</div><!-- End Of Container -->